@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {

  --ff-all: "Roboto", "sans-serif";
  /* COLORS */
  --clr-dark-bg: #1F2937;
  --clr-hero-main-logo: #F9FAF8;
  --clr-hero-secondary: #E5E7EB;
  --clr-btn: #3882F6;
  --clr-information-header: #1F2937;
  --clr-quote-bg: #E5E7EB;
  --clr-quote-text: #1F2937;

  /* FONT SIZE */
  --fs-hero-main: 48px;
  --fs-information-text: 36px;
  --fs-quote: 36px;
  --fs-header-logo: 24px;
  --fs-hero-secondary: 18px;

  /* WEIGHT */
  --fw-bold: 900;
  --fd-italic: light-italic;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

ul, ol{
  list-style: none;
}

body {
  min-height: 100vh;

  font-size: var(--fs-hero-secondary);
  font-family: var(--ff-all);

  color: var(--clr-information-header);
  background-color: var(--angel-pink);

  margin: 0;
  padding: 0; 
}

header{
  padding: 1rem 0rem; 
  background-color: var(--clr-dark-bg);
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container{
  max-width: 1075px;

  padding: 0rem 2rem;
  margin-inline: auto;
}

header h1{
  color: var(--clr-hero-main-logo);
  font-size: var(--fs-header-logo);
}

.navigation-list {

  color: var(--clr-hero-secondary);
  font-size: var(--fs-hero-secondary);
  display: flex;
  gap: 1.5rem;

}

.main-hero {
  padding: 7rem 0rem;
  background-color: var(--clr-dark-bg);
}

.even-columns {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.landing-text h2{
  color: var(--clr-hero-main-logo);
  font-size: var(--fs-hero-main);
}

.landing-text p{
  color: var(--clr-hero-secondary);
  font-size: var(--fs-hero-secondary);
}

.landing-text button{

  font-weight: 500;
  color: var(--clr-hero-main-logo);
  font-size: var(--fs-hero-secondary);
  
  background-color: var(--clr-btn);

  border: none;
  border-radius: .6rem;
  
  padding: .5rem 2.2rem;
  margin-top: 1rem;

  cursor: pointer;
}

/* CAROUSEL */

.carousel {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding: 0rem 0rem 7rem 0rem;
}

.carousel  h2{
 color: var(--clr-information-header);
 font-size: var(--fs-information-text);
 font-weight: var(--fw-bold);

 margin: 3rem 0rem;

}

.carousel-images-text{
  display: flex;
  gap: 1rem;
}

.carousel-images-text div{
  text-align: center;
}

.carousel-images-text div p{
  width: 200px;
}

/* QUOTE */

.quote {
  background-color: var(--clr-quote-bg);
  padding: 7rem 0rem;
}

.quote .container {
   display: flex;
   justify-content: center;
}

.quote-wrapper {
  display: flex;
  flex-direction: column;

  max-width: 78%;
  color: var(--clr-quote-text);
  font-size: var(--fs-quote);

  font-style: italic;
  font-weight: 300;
}

.thor {
  align-self: flex-end;
  font-style: normal;
  font-weight: 700;
  font-size: var(--fs-header-logo);
  margin-right: 2rem;
}

/* CALL TO ACTION */

.call-to-action {
  padding: 6rem 0rem;
}

.call-to-action div{
  color: var(--clr-hero-main-logo);
  background-color: var(--clr-btn);

  border-radius: .75rem;

  padding: 1.8rem 2rem;
}

.call-to-action h2{
  font-size: var(--fs-header-logo);
}

.call-to-action p{
  color: var(--clr-hero-secondary);
}

.call-to-action .container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.call-to-action .container button{
  height: 100%;
  font-weight: 500;
  color: var(--clr-hero-main-logo);
  font-size: var(--fs-hero-secondary);
  
  background-color: var(--clr-btn);

  border: none;
  border-radius: .6rem;
  padding: .4rem 2.2rem;
  

  cursor: pointer;
  border: 2px solid var(--clr-hero-main-logo);
  
}

/* FOOTER */

footer {
  color: var(--clr-hero-main-logo);
  padding: 2.4rem 0rem; 
  background-color: var(--clr-dark-bg);
  text-align: center;
}